@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');

.container{
  font-family: 'Updock', cursive;
  font-size: 25px;
  letter-spacing: .2rem;
}
.header{
  padding: 1rem 2rem;
}
